body {
    background: #e7eaeb;
    padding:100px 50px 0px 50px;
    color:#57595d;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p , li {
    color:#57595d;
    font-weight:300;
} 
pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
section {
    background: #fff;
    padding: 40px 30px;
    /* margin: 0 50px; */
   /* padding-bottom:0;
    */
}
section.appendix {
    padding-bottom: 40px;
}
section.toc {
    margin-top:100px;
}
section section {
    padding:0;
}
h1 {
    font-size: 30px;
    color: #585A5E;
    font-weight: 200;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "CalibreWeb-Semibold", "pragmatica", sans-serif;
    color: #20b6b0;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding: 0;
    margin: 20px 0 15px 0;
    font-weight: 600;
    border-bottom: 1px solid #20b6b0;
}
a {
    color: #20b6b0 !important;
    text-decoration: none;
}
.toc ul li {
    list-style:none;
}

.cLogo img {
    height: 37px;
}

.cFooter {
    display: inline-block;
 width: 100%;
    height: 100px;
    margin-top: 50px;
}

table {
    width: 100%;
}

td {
    border: 1px solid #cecfd0;
}


