name: Sync spec in master with ballerina.io

on: 
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
      - 'conformance/**'

jobs:
  sync_master_spec:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.BAL_BOT_PAT }}

    steps:       
      - name: Checkout ballerina-spec
        uses: actions/checkout@v2

      - name: Clone ballerina-dev-website
        run: git clone -b gh-pages --single-branch https://ballerina-bot:$GITHUB_TOKEN@github.com/ballerina-platform/ballerina-dev-website.git

      - name: Clone ballerina-prod-website
        run: git clone  -b gh-pages --single-branch https://ballerina-bot:$GITHUB_TOKEN@github.com/ballerina-platform/ballerina-platform.github.io.git

      - name: Install xsltproc
        run: sudo apt-get install -y xsltproc

      - name: Make
        run: |
          cd lang
          make all
          mv build/spec.html build/index.html

      - name: Sync spec in master with ballerina-dev-website
        run: |
          cd ballerina-dev-website
          git pull origin gh-pages

          git config --global user.email "ballerina-bot@ballerina.org"
          git config --global user.name "ballerina-bot"

          git rm -r public/spec/lang/master/
          cp -r ../lang/build/ public/spec/lang/master/
          git add public/spec/lang/master/
          git commit --allow-empty -m "[Automated] Update spec in master"

      - name: Sync spec in master with ballerina-prod-website
        run: |
          cd ballerina-platform.github.io
          git pull origin gh-pages

          git config --global user.email "ballerina-bot@ballerina.org"
          git config --global user.name "ballerina-bot"

          git rm -r spec/lang/master/
          cp -r ../lang/build/ spec/lang/master/
          git add spec/lang/master/
          git commit --allow-empty -m "[Automated] Update spec in master"
          
      - name: Push new changes to ballerina-dev-website
        shell: bash
        run: |
          cd ballerina-dev-website
          curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
          bin/hub push
        env:
          GITHUB_TOKEN: ${{ secrets.BAL_BOT_PAT }}

      - name: Push new changes to ballerina-prod-website
        shell: bash
        run: |
          cd ballerina-platform.github.io
          curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
          bin/hub push
        env:
          GITHUB_TOKEN: ${{ secrets.BAL_BOT_PAT }}
